<div class="left-form">
  <div class="container-from-left-form"></div>
</div>

<div class="right-form">
  <%= form_tag model: privacy_notice, local: true do %>
    <% @questions.each_with_index do |question, index| %>
      <div class="current-qst question-<%= index + 1 %> <%= question.position == 1 ? '' : 'hidden'%>">
        <div class="question-title"><%= question.title %></div>
        <div class="labels-container">
          <% question.answers.each do |answer| %>
            <% if answer.answer_type == "radio" %>
              <%= render '././privacy_notices/partials/radio_form', answer: answer %>
            <% elsif answer.answer_type == "text" %>
              <%= render '././privacy_notices/partials/text_form', answer: answer %>
            <% elsif answer.answer_type == "checkbox" %>
              <%= render '././privacy_notices/partials/checkbox_form', answer: answer %>
            <% elsif answer.answer_type == "select" %>
              <%= render '././privacy_notices/partials/select_form', answer: answer %>
            <% end %>
          <% end %>
        </div>
        <div class="form-buttons">
          <span class="previous-question hidden">Back</span>
          <span class="next-question next-button hidden purple-background current-btn-<%= index + 1 %>">Next</span>
        </div>
      </div>
    <% end %>

  <% end %>
</div>
