r<div class="left-form">
  <div class="container-from-left-form"></div>
</div>

<div class="right-form">
  <%= form_tag @privacy_notice do %>
    <% @questions.each_with_index do |question, index| %>
      <div class="current-qst question-<%= index + 1 %> <%= question.position == 1 ? '' : 'hidden' %>">
        <div class="question-title"><%= question.title %></div>
        <div class="labels-container">
          <% question.answers.each do |answer| %>
            <% if answer.answer_type == "radio" %>
              <div class="radio-input">
                <%= tag.input type: answer.answer_type, label: false, id: answer.order.to_s, value: answer.value,
                              name: answer.parameter %>
                <%= tag.label answer.label, for: answer.order.to_s %>
              </div>
            <% elsif answer.answer_type == "text" %>
              <div class="text-input">
                <%= tag.label answer.label, for: answer.order.to_s %>
                <%= tag.input type: answer.answer_type, label: false, id: answer.order.to_s, name: answer.parameter %>
              </div>
            <% elsif answer.answer_type == "checkbox" %>
              <div class="checkbox-input">
                <%= tag.input type: answer.answer_type, label: false, id: answer.order.to_s, value: answer.value,
                              name: "#{answer.parameter}[]" %>
                <%= tag.label answer.label, for: answer.order.to_s %>
              </div>
            <% end %>
          <% end %>
          <div class="form-buttons current-btn button-<%= index + 1 %>">
            <div class="previous-question hidden">Back</div>
            <div class="next-question next-button purple-background hidden">Next</div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-buttons">
      <%= submit_tag "Create", class: "end next-button purple-background hidden" %>
    </div>
  <% end %>
</div>
