<!-- <section class="privacy-notice-container"> -->
<div class="left-form">
  <div class="container-from-left-form"></div>
</div>

<div class="right-form">
  <%= form_tag model: privacy_notice, local: true do %>
    <%= @questions.each_with_index do |question, index| %>
        <div class="question-<%= index + 1 %> test hidden"><strong><%= index + 1 %></strong> <%= question.title %></div>
    <% end %>
    <p class="up purple-button">Monter</p>
    <p class="down purple-button">Descendre</p>
    <p class="result"></p>
  <% end %>
</div>
