<!-- <section class="privacy-notice-container"> -->
<div class="left-form">
  <div class="container-from-left-form"></div>
</div>

<div class="right-form">
  <%= form_with model: privacy_notice, local: true do |form| %>
    <% if privacy_notice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(privacy_notice.errors.count, "error") %> prohibited this privacy_notice from being saved:</h2>

        <ul>
        <% privacy_notice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :type_of_operation %>
      <%= form.text_field :type_of_operation %>
    </div>
  <% end %>
</div>
